---
- block:
  - name: Install dependencies - APT
    apt:
      name: "{{ apt_packages }}"
      state: latest
      update_cache: yes

  - name: Install Samba
    apt:
      name: samba
      state: latest
    when: smb_enabled == "true"
  when: ansible_facts['os_family'] == "Debian"

- block:
  - name: Install dependencies - DNF
    dnf:
      name: "{{ dnf_packages }}"
      state: latest
      update_cache: yes
    when: ansible_facts['distribution_major_version'] == "8"

  - name: Install dependencies
    dnf:
      name: "{{ dnf_9_packages }}"
      state: latest
      update_cache: yes
    when: ansible_facts['distribution_major_version'] == "9"

  - name: Install Samaba
    dnf:
      name: samba
      state: latest
    when: smb_enabled == "true"
  when: ansible_facts['os_family'] == "RedHat"
