---
- name: Debian
  when: ansible_facts['os_family'] == "Debian"
  block:
    - name: Install dependencies - APT
      ansible.builtin.apt:
        name: "{{ apt_packages }}"
        state: present
        update_cache: true

    - name: Install Samba
      ansible.builtin.apt:
        name: samba
        state: present
      when: smb_enabled == "true"

- name: RedHat
  when: ansible_facts['os_family'] == "RedHat"
  block:
    - name: Install dependencies - DNF
      ansible.builtin.dnf:
        name: "{{ dnf_packages }}"
        state: present
      when: ansible_facts['distribution_major_version'] == "8"

    - name: Install dependencies
      ansible.builtin.dnf:
        name: "{{ dnf_9_packages }}"
        state: present
      when: ansible_facts['distribution_major_version'] == "9"

    - name: Install Samba
      ansible.builtin.dnf:
        name: samba
        state: present
      when: smb_enabled == "true"
