---

- name: Start opencanaryd
  ansible.builtin.systemd:
    name: opencanaryd
    state: restarted
  when: not is_container | bool

- name: Stop opencanaryd
  ansible.builtin.systemd:
    name: opencanaryd
    state: stopped
  when: not is_container | bool

- name: Restart rsyslog
  ansible.builtin.systemd:
    name: rsyslogd
    state: restarted
  when: not is_container | bool

- name: Restart opencanaryd
  ansible.builtin.service:
    name: opencanaryd
    state: restarted
  when: not is_container | bool
